body {
    --text-color: #ffffff; 
    --cursor-color: #d6d6d6; 
    --cursor-text-color: #454545; 
    --background-col: #212121; 
    --font-size: 13px; 
    background-color: var(--background-col);
    font-family: 'Inconsolata', 'Courier New';
    padding: 0; 
    margin: 0; 
}
