pre {
    font-family: 'Inconsolata', 'Courier New';
}

.page {
    background-color: var(--background-col);
    color: var(--text-color);
}

.cursorChar {
    color: var(--cursor-text-color);   
    display: inline-block;
    white-space: pre;
    background-color: var(--cursor-color);
}

.footer {
    position: fixed; 
    bottom: 1em; 
}
